<html>
  <head>
    <title>Search page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Tỉnh" name="tinh" value="{{
          request.form.tinh }}">
         <input type="text" placeholder="Quận" name="quan" value="{{
          request.form.quan }}">
          <input type="text" placeholder="Xã" name="xa" value="{{
          request.form.xa }}">
        <input class="btn btn-default" type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>